body
{
margin:0;
padding:0;
background:black;
}
.slidershow
{
width:100px;
height:100px;
overflow:hidden;
}
.middle
{
top:50%;
left:50%;
transform:translate(-50%, -50%);
}
.navigation
{
position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%);
display:flex;
}
.bar
{
width:50px;
height:10px;
border:2px;
margin:6px;
cursor: pointer;
transition:0.4s;
}
.bar:hover
{
backround:white;
}
input [name="r"]
{
position:absolute;
visibility:hidden;
}

.slides
{
width:500%;
height:100%;
display:flex;
}

#r1:checked ~.s1{
margin-left:0;
}

#r2:checked ~.s1{
margin-left:-20;
}

#r3:checked ~.s1{
margin-left:-40;
}

#r4:checked ~.s1{
margin-left:-60;
}
